1.Tentukan library yang digunakan

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

2.Load Dataset

In [3]:
transfusion_dataset = pd.read_csv('transfusion.csv')

In [4]:
transfusion_dataset.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [5]:
transfusion_dataset.isnull()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
743,False,False,False,False,False
744,False,False,False,False,False
745,False,False,False,False,False
746,False,False,False,False,False
747,False,False,False,False,False

In [6]:
transfusion_dataset.shape

(748, 5)

In [7]:
transfusion_dataset['whether he/she donated blood in March 2007'].value_counts()

0    570
1    178
Name: whether he/she donated blood in March 2007, dtype: int64

In [8]:
# memisahkan data dan label
X = transfusion_dataset.drop (columns='whether he/she donated blood in March 2007',axis=1)
Y = transfusion_dataset['whether he/she donated blood in March 2007']

In [9]:
print(X)

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
0                   2                 50                  12500             98
1                   0                 13                   3250             28
2                   1                 16                   4000             35
3                   2                 20                   5000             45
4                   1                 24                   6000             77
..                ...                ...                    ...            ...
743                23                  2                    500             38
744                21                  2                    500             52
745                23                  3                    750             62
746                39                  1                    250             39
747                72                  1                    250             72

[748 rows x 4 columns]

In [10]:
print(Y)

0      1
1      1
2      1
3      1
4      0
      ..
743    0
744    0
745    0
746    0
747    0
Name: whether he/she donated blood in March 2007, Length: 748, dtype: int64

3.Menisahkan data training dan data testing

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(748, 4) (598, 4) (150, 4)

4.Membuat data latih menggunakan algortma SVM

In [13]:
model = LogisticRegression()

In [14]:
model.fit(X_train, Y_train)

LogisticRegression()

5.Membuat model evaluasi untuk mengukur tingkat akurasi

In [15]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [16]:
print('Akurasi Data Training Adalah =', training_data_accuracy)

Akurasi Data Training Adalah = 0.7642140468227425

In [17]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [18]:
print('Akurasi Data Testing Adalah=', test_data_accuracy)

Akurasi Data Testing Adalah= 0.7933333333333333

6.Membuat model prediksi

In [19]:
input_data = (2 , 50, 12500, 98)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print('Tidak Bersedia Mendonorkan Darah')
else :
    print('Bersedia Mendonorkan Darah')

[1]
Bersedia Mendonorkan Darah

c:\Users\Renz\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

7.Simpan model

In [20]:
import pickle

In [21]:
filename = 'blood_transfusion.sav'
pickle.dump(model, open(filename,'wb'))